.idea/codeStyleSettings.xml
.idea/DnDRandomizer.iml
.idea/misc.xml
.idea/modules.xml
.idea/vcs.xml
.idea/workspace.xml
.idea/dictionaries/Hexa.xml
__pycache__/Modifier.cpython-34.pyc
__pycache__/Modifier.cpython-36.pyc
.idea/.name
equipmentFile
